<main class="main">
    <section>
        <div class="caixa">
            <h2>Consulta</h2>
            <form class="form">

                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text">
                  </mat-form-field>

                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Sobrenome</mat-label>
                    <input matInput type="text">
                  </mat-form-field>


                
                <button mat-button class="bt">Consultar</button>
                <button mat-stroked-button color="warn" class="voltar" routerLink="">Voltar</button>
            </form>
        </div>
    </section>
</main>
